* {
     margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  transition: 0.3s;
  border-radius: 5px;
}

ul li a:hover {
  background: cyan;
  color: black;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  ul.active {
    max-height: 300px;
  }

  .menu-toggle {
    display: block;
  }
}

section {
  height: 100vh;
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
}

.s1 { background: lightcoral; }
.s2 { background: lightblue; }
.s3 { background: lightgreen; }

